.jumbotron {
   background-color: red ;
   color: black;
   margin-top: 50px; 

}

.footer {
   padding: 10px 10px 0 10px; 
   background-color: red;
   margin-bottom: 0px;
   margin-top: 10px;

}

.card-insumos {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    
    
}

.footer-address-icon {
    padding-right: 10px;
}    

.baner {
    width: 350px;
    height: 100%;
    margin: 0 auto;
}

.tab-content {
    padding-top: 10px;
}