.jumbotron {
  background-color: #FF0000;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 0px;
}

.footer {
  padding: 10px 10px 0 10px;
  background-color: #FF0000;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-insumos {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
}

.footer-address-icon {
  padding-right: 10px;
}

.baner {
  width: 350px;
  height: 100%;
  margin: 0 auto;
}

.tab-content {
  padding-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
