$red:#FF0000;
$yellow:#ffff00;
$green:#008000;
$black:#000000;

@mixin margenes($top, $bottom) {
    margin-top: $top; 
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $red ;
    color: $black;
    @include margenes(50px, 0px ); 
 
}
 
.footer {
    padding: 10px 10px 0 10px; 
    background-color: $red;
    @include margenes(10px, 0px );
 
}
 
.card-insumos {
     flex: 1 200px;
     padding: 2px 0px 2px 0px;
     @include margenes(10px, 0px );
 
}
 
.btn-reserva {
     width: 100%;
     border-radius: 0px;
         
}
 
.footer-address-icon {
     padding-right: 10px;
}    
 
.baner {
     width: 350px;
     height: 100%;
     margin: 0 auto;
}
 
.tab-content {
     padding-top: 10px;
}